:host {
  display: block;
}

@font-face {
    font-family: AllerBold;
    src: url(../../fonts/Aller/Aller_Bd.ttf);
    font-weight:400;
}

a.title {
    text-decoration: none;
    color: #000;
}

a.title:hover core-icon {
    color: #40c4ff;
}

a.title .perma-link {
    display: none;
    padding-left: 10px;
}

a.title:hover .perma-link {
    display: inline-block;
}


article {
    padding: 10px;
    color: #000;

}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.1em;


}

h1, h2, h3, h4, h5 h6 {
    font-family: AllerBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
}

article time {
    font-size: 0.6em;
}

article .title {
    margin-top: 0px;
}

#article_wrapper {
    max-width: 600px;
}

#article_wrapper img {
    width: 600px;
}

code {
}

pre {
    background-color: #E1F5FE;
    padding: 10px;
    overflow: visible;
}



rurri-article-preview {
    margin-bottom: 20px;
}
