:host {
  display: block;
}

@font-face {
    font-family: AllerBold;
    src: url(../fonts/Aller/Aller_Bd.ttf);
    font-weight:400;
}

a.title {
    text-decoration: none;
    color: #000;
}

a.title:hover {
    color: #40c4ff;
}

a.title .perma-link {
    display: none;
    padding-left: 10px;
}

a.title:hover .perma-link {
    display: inline-block;
}


article {
    padding: 10px;
    max-width: 600px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.1em;


}

h1, h2, h3, h4, h5 h6 {
    font-family: AllerBold, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

article time {
    font-size: 0.6em;
}

article .title {
    margin-top: 0px;
}
